{% extends "layout.html" %}

{% block title %} main{% endblock %}
{% block main %}

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide">main dashboard</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="/newcourse" class="w3-bar-item w3-button"><i class="fa fa-th"> new course?</i> </a>
        <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-user"></i> log out</a>


      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close &times;</a>
    <a href="/graede-helper"" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
    <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
    <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>

    <!-- main content -->
  <div class="w3-center" style="padding:48px">
    <span class="w3-jumbo w3-text-black w3-middle	w3-hide-small "> academic courses</span><br>
    <div class="container">
        <table class="table">
                <thead>
                    <tr>
                        <th>class</th>
                        <th>current grading (out of 100)</th>
                        <th> max possible grading</th>
                        <th>hr/week</th>
                        <th>goal</th>
                        <th>diffculty (diffculty or easy)</th>

                    </tr>
                </thead>
                <tbody>
                  {%for course in courses %}
                  <tr>
                      <td>{{course.course}}</td>
                      <td>{{course.current_grading}}</td>
                      <td>{{course.max_grading}}</td>
                      <td>{{course.hour_per_week}}</td>
                      <td>{{course.goal}}</td>
                      <td>{{course.diffculty}}</td>
                      <td>
                        <form action="/edit" method="GET">
                            <input name="id" type="hidden" value="{{course.user_id }}">
                            <input type="submit" value="edit">
                        </form>
                    </td>
                  </tr>
              {%endfor%}
            </table>
        </div>
    </div>
{% endblock %}
